@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
	--cor-principal: #000000;
	--cor-secundaria: #F6F6F6;
	--cor-terciaria: #22D4FD;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	background-color: black;
	color: var(--cor-secundaria);
}

.img-perfil {
	width: 50%;
	border-radius: 16px;
	border: 2px solid var(--cor-terciaria);
}

.texto-destaque {
	color: var(--cor-terciaria);
}

.cabecalho {
	width: 100%;
	background-color: var(--cor-principal);
	position: fixed;
	padding: 2% 0% 2% 15%;
}

.cabecalho__menu {
	display: flex;
	gap: 80px;
}

.cabecalho__menu__link {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: var(--cor-terciaria);
	text-decoration: none;
}

.apresentacao {
	padding: 8% 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 82px;
}

.apresentacao_conteudo {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.apresentacao_conteudo__titulo {
	font-size: 2rem;
	font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo__texto {
	font-size: 1.25rem;
	font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.apresentacao__links__subtitulo {
	font-family: 'Krona One', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

.apresentacao__links_link {
	width: 70%;
	text-align: center;
	border-radius: 16px;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 16px 0;
	text-decoration: none;
	color: var(--cor-secundaria);
	border: 2px solid var(--cor-terciaria);
	display: flex;
	justify-content: center;
	gap: 16px;
}

.apresentacao__links_link:hover {
	background-color: #272727;

}

.sobre__mim {
	width: 100%;
	padding: 32px;
	background-color: var(--cor-secundaria);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.sobre__mim__titulo {
	padding: 16px;
	font-family: 'Krona One', sans-serif;
	font-size: 1.9rem;
	color: var(--cor-principal);
}

.sobre__mim__conteudo {
	width: 70%;
	padding: 16px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: var(--cor-principal);
	text-align: justify;
}

.experiencia {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px;
	background-color: var(--cor-principal);
	gap: 32px;
}

.experiencia__titulo {
	font-family: 'Krona One', sans-serif;
	font-size: 1.9rem;
	color: var(--cor-secundaria);
}

.experiencia__cartao {
	width: 60%;
	min-height: 20vh;
	padding: 16px;
	border: 2px solid var(--cor-terciaria);
	border-radius: 16px;
}

.experiencia__cartao:hover {
	background-color: ;
	border-radius: 16px;
	background-color: #272727;
}

.experiencia__cartao__empresa {
	margin-bottom: 16px;
	font-family: 'Krona One', sans-serif;
	font-size: 1.25rem;
	color: var(--cor-terciaria);
}

.experiencia__cartao__conteudo {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: var(--cor-secundaria);
	margin-bottom: 16px;
}

.experiencia__cartao__rodape {
	display: flex;
	justify-content: space-between;
}

.experiencia__cartao__periodo {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
}

.experiencia__cartao__link {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
	color: var(--cor-terciaria);
	text-decoration: none;
}

.experiencia__cartao__link:hover {
	text-decoration: underline;
}

.tecnologias {
	background-color: var(--cor-secundaria);
}

.tecnologias__titulo {
	padding: 16px;
	font-family: 'Krona One', sans-serif;
	font-size: 1.9rem;
	color: var(--cor-principal);
	text-align: center;
}

.tecnologias__tecnologias {
	padding: 2%;
	display: flex;
	justify-content: center;
	gap: 50px;
}

.tecnologias__tecnologia {
	color: black;
}

.img-tecnologia {
	padding: 10px;
	width: 15%;
	width: 15%;
	border-radius: 16px;
	border: 2px solid var(--cor-terciaria);
}

.rodape {
	text-align: center;
	color: var(--cor-principal);
	background-color: var(--cor-terciaria);
	padding: 24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

@media(max-width: 1200px) {
	.cabecalho {
		padding: 5% 0% 5% 0%;
		display: flex;
		justify-content: center;
	}

	.apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        padding-top: 20%;
    }

	.apresentacao__conteudo{
        width: auto;
    }

    .experiencia__cartao {
		width: 100%;
	}
}